# Titanic Survivors (NN)

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai import *
from fastai.tabular import *

In [3]:
path = f'./data'

## DataFrames and Feature Engineering

Basic feature engineering taken from the kaggle examples provided

In [4]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if str.find(big_string, substring) != -1:
            return substring
    return np.nan


def replace_titles(x):
    title=x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title
    

title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

In [5]:
df = pd.read_csv(f'{path}/train.csv')
 
#replacing all titles with mr, mrs, miss, master
df['Title']=df['Name'].map(lambda x: substrings_in_string(x, title_list))
df['Title']=df.apply(replace_titles, axis=1)

#Turning cabin number into Deck
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
df['Deck']=df['Cabin'].map(lambda x: substrings_in_string(str(x), cabin_list))

In [6]:
test_df = pd.read_csv(f'{path}/test.csv')

## Data Bunch

In [7]:
dep_var = 'Survived'
cat_names = ['Pclass', 'Embarked', 'Sex', 'Title', 'Deck']
cont_names = ['Age', 'SibSp', 'Parch', 'Fare']
procs = [FillMissing, Categorify, Normalize]

In [8]:
# todo: still working through fixing NaN values in test set
#test = TabularList.from_df(test_df, path=path, cat_names=cat_names, cont_names=cont_names, procs=[FillMissing])

In [9]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names = cont_names, procs=procs)
                   .split_by_idx(list(range(800, 891)))
                   .label_from_df(cols=dep_var)
                   #.add_test(test)
                   .databunch())

In [10]:
data.show_batch(rows=10)

## Training and Model Fit

In [11]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(4, 1e-2)